nav{
    border:2px solid blue;
    background-color: blue;
    width: 100%;
    height: 40px;
    padding: 15px;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-align: center;
    
}
h1{
    text-align: center;
    } 
p{
   text-align: justify;
    color: brown;
    
}
img{
    width: 100%;
    height: 600px;
    border-color: black;
}    
    
    
    
   