nav{
    border:5px solid mediumlasteblue;
    background-color: deepskyblue;
    width: 100%;
    height: 30px;
    padding:30px;
    margin: top
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    
}
body{
    background-color: palevioletred;
        
}
img{
    width:200px;
    height;100px;
}   
    
        
	

	
		