nav{
   border: 5px solid whiteS;
    background-color: white;
    width:100%;
    height: 50px;
    padding:5px;
        
}
a{
    text-decoration: none;
    color: blue;
    text-align: center;
} 
iframe{
    width: 100%;
    height: 500px;
}
        
        