nav{
    border:5px;
    background-color: papayawhip;
    width: 100%;
    height:50px;
    padding: 20px;
    
    
}
a{
    text-decoration: none;
    color: white;
    font-family:cursive;
}

h1{
    text-align: center;
}
        
div{
    border:2px red solid;
    background-color: lightpink;
    width;650px;
}	
P1{
    
}
img{
    height:240px;
    width=400px;
}	
div2{
    border:2px red solid;
    background-color: black;
    width: 620px;
    float: right;
    margin-top: -485px;
}
p2{
 
}
	
img2{
    height: 300px;
    width:400px;
}
		
div3{
    border:2px blue;
    background-color: gold;
    width: 620px;
    float: right;
    margin-left: -480px;
}				
p3{
    
}
img3{
    height: 255px;
    width:400px;
    
}
div4{
    border:2px;
    background-color: gold;
    width:620px;
    float:left;
    margin-right: -480px;
    
}			

p4{
    
}
img4{
    height: 255px;
    width:400px;
    
}
				