body{
    background-image:linear-gradient(45deg,rgba(155,40,20,0.3),rgba(246, 246, 250, 0.3)),url('');
    text-align: center;
    color:darkred;
}
nav{
   border:2px solid lightblue;
    background-color: lightblue;
    width:100%;
    height:15px;
    padding:40px;
}
        
}
a{
    text-decoration: none;
    color: red;
}
    
img{
        width:450x;
        height:250px;
        
    }
    
    h2{
        text-decoration: none;
        text-align: center;
    }

p{
    text-align: justify;
    padding:20px;
    font-weight: 400;
    text-indent: 50px;
    color: white;
    font-size:x-large;
    border: solid black  5px;
    width:1300px;
    background-color:skyblue;
    border-radius:10px 14px 20px;
    }
    
    