nav{
    border: 2px solid red;
    background-color: gold;
    width:100%;
    height:40px;
    padding: 10px;
    position: fixed;
        
}
a{
    text-decoration: none;
    color: black;
    
}
body{
    background-image: linear-gradient(45deg,rgba(65,58,0,0.5),rgba(160,250,30,0.2));
    
}
h1{
    text-align: center;
    color: blue;
}
hr{
    height: 5px;
    background: black;
}
td{
    color: red;
}
tr{
  height: 80px;
    width: 200px;
    border: 2px black;
    border-radius: 5px;  
}
    

               
       