nav{
    border: 5px solid gold;
    background-color: gold;
    width: 100%;
    height:40px;
    position: fixed;
    
}
a{
    text-decoration: none;
    color: black;
    text-align:center;
}      
h1{
    text-align: center;
}            
div1{
    border=2px solid red;
    background-color: gold;
    width: 560px;
}
div2{
    border: 2px red solid;
    background-color: gold;
    width: 620px;
    float: right;
    margin-top: -480px;
}
div3{
    border:2px red solid;
    background-color: gold;
    width:620px;
    float: right;
    margin-left: -480px;
}
div4{
    border: 2px solid red;
    background-color: gold;
    width: 620px;
    float:right;
    margin-left: -480px;
}
img{
    
}
				