nav{
    border: 2px solid black;
    background-color: lightcoral;
    width:100%;
    height:40px;
    padding: 10px;
    position: fixed;
        
}
a{
    text-decoration: none;
    color: white;

}

h1{
    text-align: center;
    color: crimson;
    text-decoration: none;
    font-weight: 900;
    font-family: monospace;
    
    }
.p1{
    background-color:lightcyan;
    border:solid black 2px;
    height;100px;
    border-radius: 20px 0px;
    text-align: justify;
    text-indent: 25px;
    
}
    








