h1{
    text-align: center;
    color:red;
    
}
h2{
    text-align:left;
    color: red;
    }
body{ 
    background-image:url("photo.jpg");
    background-size:cover;
    
    }
nav{
    border:5px solid palevioletred;
    background-color: palevioletred;
    width:100%;
    height:50px;
    padding:10px;
    
}
    
a{
    text-decoration: none;
    color: white;
    text-align: center;
}    
iframe{
    width:600px;
    height: 300px;
    
}
ol{
    color:white;
    
}     
       